@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(image/fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 6%;
}

form{
    background: rgba(255, 255, 255, 0.6);
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 10px;
}

form input[type=submit] {
    padding: 10px 40px;
    border: 0;
    border-radius: 20px;
    background-color: #09244b; /* cor inicial (azul escuro) */
    color: #ffffff;
    font-size: 14pt;
    cursor: pointer;
    transition: background-color 0.3s ease; /* suaviza a transição */
}

form input[type=submit]:hover {
    background-color: #dc2f02; /* vermelho mais claro ao passar o mouse */
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #2D5966;
    font-size: 22pt;
}

form p{
    text-align: center;
    margin-bottom: 25px;
}

form .input-single{
    position: relative;
    margin: 30px 0;
}

form .input-single label{
    position: absolute;
    left: 0;
    top: 50%; transform: translateY(-50%);
    cursor: text;
    transition: all 0.5s;
    color: #09244b;
}

form .input-single .input{
    width: 100%;
    border: 0;
    border: 1px solid #ccc; border-radius: 20px; padding: 10px; background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus{
    border-bottom: 2px solid #2D5966;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-150%);
    font-size: 12px;
    color: #2D5966;
}

.btn{
    width: 100%;
    text-align: center;
}


